/* Import Fonts 1: Bebas Neue , Fragment Mono*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fragment+Mono:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, red, black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  height: 50vh;
  width: 285vh;
  position: absolute;
  background-color: transparent;
  align-items: center;
}
.card-container .content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-container .front {
  height: 46vh;
  width: 285px;
  margin: auto;
  border: rgb(180, 31, 11) solid 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 0, 0.563),
    rgba(255, 166, 0, 0.572),
    rgba(255, 0, 0, 0.349)
  );
  border-radius: 12px;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: rotateY(0deg);
}

.card-container .front .display-picture {
  width: 175px;
  height: 175px;
  border: rgb(244, 170, 97) solid;
  border-radius: 8%;
  background-image: url(https://i.pinimg.com/736x/01/77/93/01779369efbeb5180c5f56fe662574e9.jpg);
  background-size: cover;
  background-color: white;
  overflow: hidden;
  margin: 10px auto;
  padding: 50px;
}
.card-container .front .name {
  color: rgba(24, 4, 3, 0.571);
  font-family: "Fragment Mono";
  font-weight: bolder;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 6px;
  text-align: center;
  margin-top: 35px;
}

.card-container .front .sinner {
  color: rgba(24, 4, 3, 0.571);
  font-family: "Fragment Mono";
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
}

.card-container .front .personal {
  font-family: "Fragment Mono";
  text-align: center;
  text-decoration-color: black;
  font-size: 10px;
  text-align: 3px;
  color: rgb(3, 59, 59);
}

/* Back of Cards */

.card-container .back {
  height: 46vh;
  width: 285px;
  margin: auto;
  border: rgb(180, 31, 11) solid 2px;
  background: linear-gradient(
    to right,
    rgba(195, 39, 7, 0.563),
    rgba(140, 9, 4, 0.572),
    rgba(66, 2, 2, 0.349)
  );
  border-radius: 12px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-container:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.card-container .back .picture {
  width: 175px;
  height: 175px;
  border: red;
  border-radius: 8%;
  background-image: url(https://limbuscompany.wiki.gg/images/Don_Quixote_Sancho_StoryLog.png?9a492d&format=original);
  background-size: cover;
  background-color: white;
  overflow: hidden;
  margin: 10px auto;
  padding: 50px;
}

.card-container .back .nm {
  color: rgba(24, 4, 3, 0.571);
  font-family: "Fragment Mono";
  font-weight: bolder;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 6px;
  text-align: center;
  margin-top: 35px;
}

.card-container .back .BF {
  color: rgba(24, 4, 3, 0.571);
  font-family: "Fragment Mono";
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
}

.card-container .back .R-info {
  font-family: "Fragment Mono";
  text-align: center;
  text-decoration-color: black;
  font-size: 10px;
  text-align: 3px;
  color: rgb(3, 59, 59);
}
